.config-box {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
  border: 2px solid black;
  border-radius: 25px;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.text-config {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.radio-config {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.header-config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.button-config {
  color: white;
  background-color: red;
} /* Black */


