:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-sucess: #41f1b6;
    --color-warning: #ffbb55;
    --color-info-dark: #7d8da1;
    --color-white: #fff;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

body {
    background: linear-gradient(115deg,#020024,#094b9b,#00d4ff 64%);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    font-family: sans-serif;
    box-sizing: var(--card-border-radius);
    margin: 0;
    padding: 0;
    padding-left: 20px;
    box-sizing: border-box;
    color: white;

}

form i{
    margin-left: 1rem;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 60px;
    text-transform: uppercase;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    color: black;
    border-radius: var(--border-radius-1);
}

input::placeholder {
    opacity: 50%;
}

label {
    color: white;
    font-size: 18px;
}

button {
    display: flex;
    background-color: #ec4067;
    padding: 10px 102px;
    margin-right: 3rem;
    margin-left: 6rem;
    color: var(--color-white);
    border-radius: var(--border-radius-1);
    border: none;
    font-size: 16px;
}

button:hover {
    opacity: 0.7;
    
}

.error {
  background: var(--color-danger);
  color: var(--color-info-light);
  padding: 10px;
  width: 85%;
  border-radius: var(--border-radius-1);
  margin-bottom: 20px;
  margin-left: 9%;
}

.sucess {
    background: var(--color-sucess);
    color: var(--color-info-light);
    padding: 10px;
    width: 95%;
    border-radius: var(--border-radius-1);
}

.text-muted {
    color: var(--color-info-dark);
}

form a {
    text-decoration: none;
    margin-top: 30px;
}

#user-profile {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    font-size: 50px;
}





.container {
    
    padding: 30px;
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
  }
  
  .title {
    flex: 1;
    padding-right: 60px;
  }
  
  .form-container {
    flex: 1;
    position: relative;
  }
  
  .form-container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    width: 2px;
    background-color: white;
  }


  /******************************** MEDIA QUERIES MOBILE********************************/
    @media only screen and (max-width: 832px) {
      body {
        padding: 1rem;
        margin-left: -50px;
      }

      h2 {
        font-size: 40px;
      }

      input,
      button {
        width: 100%;
      }

      button {
        margin-right: 0;
        margin-left: 0;
      }

      .container {
        flex-direction: column;
        align-items: stretch;
    
      }

      .title {
        padding-right: 0;
        margin-bottom: 1rem;
      }

      .form-container::after {
        display: none;
        
      }

      .error{
        margin-left: 11%;
      }

    }