/*
Folha de css para a página de monotorização
*/
 @font-face {
            font-family: 'Digital-Normal';
            src: url('../fonts/Digital-Normal.ttf.woff') format('woff');

        }

        input[type=text] {
            border: 3px solid #555;
            font-family: 'Digital-Normal';
            font-size: 30px;
            margin: 10%;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            display: none;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #2196F3;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #2196F3;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        .btn.active {
            display: none;
        }

        .btn span:nth-of-type(1) {
            display: none;
        }

        .btn span:last-child {
            display: block;
        }

        .btn.active span:nth-of-type(1) {
            display: block;
        }

        .btn.active span:last-child {
            display: none;
        }
        #wrap {

    display: flex;
    justify-content: center;
        width: 80%; /* adjust the width as per your needs */
            max-width: 1200px; /* set a maximum width to prevent it from becoming too wide */
            margin: 0 auto; /* center the container horizontally */
            padding: 20px; /* add some padding to create space between the content and the container */
            box-sizing: border-box; /* include the padding in the width calculation */
        }
        
          